extends ../common/layout.pug
block content
  .container
    h3 View grade
  hr
  .container
    form(action="/grade")
      .form-inline
        .form-group.mr-4
          label.col-form-label.col Student ID
          input.form-control(type="text" name="sid" value=sid)
        button.btn.btn-primary(type="submit") Submit
  hr
  .container
    if gradeData
      each semester in gradeData
        h4 #{semester.semester} 
        table.table
          thead
            th.lg-4 Subject ID
            th.lg-4 Subject Name
            th.lg-4 Grade
          tbody
            each subject in semester.courses
              tr
                td #{subject.courseCourseID}
                td #{subject.abbreviate}
                td #{subject.gradeLetter}
        br
    else
      h5 Input student ID...
                
    
  
  