extends ../common/layout.pug
block content
  .container
    h3 Browse Senior Projects
    hr
    form(action="/seniorproj/browse")
      .form-row.align-items-end
        .col-lg-3
          label(for="projectID") Project ID
          input.form-control(type="text" name="projectID" 
          value=searchProjectID placeholder="example: 4562xxx")
        .col-lg-3
          label(for="topic") Topic
          input.form-control(type="text" name="topic"
          value=searchTopic placeholder="example: Computer")
        .col-lg-2
          label(for="year") Year
          select.form-control(name="year")
            each year in years
              if year == searchYear
                option(value=year selected) #{year}
              else
                option(value=year) #{year}
        .col-lg-3
          label(for="superVisorTeacherID") SuperVisor Teacher ID
          input.form-control(type="text" name="superVisorTeacherID"
          value=searchSuperVisorTeacherID placeholder="jantaratit")
        
        .col-lg-1
          button.btn.btn-primary(type="submit") Submit
    hr
    h3 course not found

        

