extends ../common/layout.pug
block content
  .container
    h3 Browse Senior Projects
    hr
    form(action="/seniorproj/browse")
      .form-row.align-items-end
        .col-lg-3
          label(for="projectID") Project ID
          input.form-control(type="text" name="projectID" 
          value=projectID placeholder="example: 4562xxx")
        .col-lg-3
          label(for="topic") Topic
          input.form-control(type="text" name="topic"
          value=topic placeholder="example: Computer")
        .col-lg-2
          label(for="year") Year
          select.form-control(name="year")
            option(value='') 
            each y in years
              if y == year
                option(value=year selected) #{y}
              else
                option(value=y) #{y}
        .col-lg-3
          label(for="superVisorTeacherID") Supervisor Teacher ID
          input.form-control(type="text" name="superVisorTeacherID"
          value=superVisorTeacherID placeholder="jantaratit")
        
        .col-lg-1
          button.btn.btn-primary(type="submit") Submit
    hr
    table.table
      thead
        tr
          th Project ID
          th Topic
          th Year
          th SupervisorTeacher ID
      tbody
        for i in data
          tr
            th #{i.projectID}
            td #{i.topic}
            td #{i.year}
            td #{i.supervisorTeacherID}
