extends ../common/layout.pug
block content
  .container
    h3 Register senior project
    hr
    form(action="register"  method="POST")
      .form-row
        .col-lg-6
          label(for="sid") Student ID
          input.form-control(type="text" name="sid")
        .col-lg-6
          label(for="year") Year
          select.form-control(name="year")
            each year in years
              option(value=year) #{year}
      .form-row.align-items-end.mt-2
        .col-lg-6
          label(for="topic") Topic
          input.form-control(type="text" name="topic"
          placeholder="example: Computer")
        .col-lg-6
          label(for="supervisorTeacherID") Supervisor Teacher ID
          input.form-control(type="text" name="supervisorTeacherID"
          placeholder="jantaratit")
      .form-row.mt-2.float-right
        .col-lg-1
          button.btn.btn-primary(type="submit") Submit
    hr.mt-5
    h2.mt-2 Register to an existing Project?
    form(action="register"  method="POST")
      .form-row
        .col-lg-4
          label(for="sid") Student ID
          input.form-control(type="text" name="sid")
        .col-lg-4
          label(for="supervisorTeacherID") Teacher ID
          input.form-control(type="text" name="supervisorTeacherID")
        .col-lg-4
          label(for="projectID") Project ID
          input.form-control(type="text" name="projectID")
      .form-row.mt-2.float-right
        button.btn.btn-primary register
    br
    each i in result
      .form-row
        .col
          .alert.alert-success #{i}
    each error in errors
      .form-row
          .col
            .alert.alert-danger #{error}

