extends ../common/layout.pug
block content
  .container
    h3 View Senior Project Status
  hr
  .container
    h4.mb-3 #{student.studentID} - #{student.firstName} #{student.lastName}
  hr
  .container
    if project
        .row
          .col
            h4 #{project.topic}
        .row
          .col-6
            h5 Supervisor: #{project.supervisor}
          .col-6
            h5 Year: #{project.year}
    else
      h5.text-danger Senior project is not registered
  hr
  if project
    .container
      if evaluations
          table.table
            thead
              th.lg-3 Evaluation Comment
              th.lg-3 Grade
              th.lg-3 Evaluated By
              th.lg-3 Evaluation Type
            tbody
              each evaluation in evaluations
                tr
                  td #{evaluation.comment}
                  td #{evaluation.grade}
                  td #{evaluation.teacherFullName}
                  td #{evaluation.type}
          br
      else
        h5 There is no evaluations