extends ../common/layout.pug
block content
  .container
    h3 Manage Courses
  hr
  .container
    if studentData == null
      h5 Input student ID...
    else if studentData.info.notFound
      h5 #{studentData.info.notFound}
    else if studentData
      h5.mb-3 #{studentData.info.studentID} - #{studentData.info.firstName} #{studentData.info.lastName}
      form(method="POST")
        input.d-none(type="text" name="studentID" value=studentData.info.studentID)
        table.table
          thead
            th SubjectID
            th Subject Name
            th Section 
            if removable
              th Remove
            else if withdrawable
              th Withdraw
          tbody
            each subject in studentData.subjects
              tr
                td #{subject.courseID}
                td #{subject.courseName}
                td #{subject.section}
                if removable || withdrawable
                  td
                    .form-check.form-check-inline
                      input.form-check-input(type="checkbox" name="remove" value=subject.courseID)
        button.btn.btn-primary(type="submit") Submit
