extends ../common/layout.pug
block content
  .container
    h3 Pay Fee
  hr
  .container
    form#pay
      .form-inline
        .form-group.mr-4
          select.form-control(id="semester" name="semester")
              option(value="") select semester...
              if semesters
                each semester in semesters
                  option(value=semester.id) #{semester.name}
        button.btn.btn-primary(type="submit") submit
  hr
  if fee
    .container
      h5 Fee: #{fee}
  else if err
    .container
      h5 Error: #{err}
  if transactionID === null
    .container
      h5 Unpaid!
      form(action="/student/course/pay" method="POST")
        .form-inline
          input.form-control.d-none(type="text" name="semesterID" value=payment.semester)
          input.form-control.d-none(type="text" name="studentID" value=payment.studentID)
          input.form-control.d-none(type="text" name="amount" value=fee)
          button.btn.btn-primary(type="submit") pay
  else if transactionID
    .container
      h5 Paid! Transaction ID: #{transactionID}
