extends ../common/layout.pug
block content
  .container
    h3 Search Courses
    hr
    form.pl-4(action="/course/search")
      .form-row.align-items-end
        .col-lg-2
          label(for="courseID") Course ID
          input.form-control(type="text" name="courseID" value=searchCourseID || null)
        .col-lg-4
          label(for="courseName") Course Name
          input.form-control(type="text" name="courseName" value=searchCourseName || null)
        .col-lg-2
          label(for="semester") Semester
          select.form-control(name="semester")
            each semester in semesters
              if semester.value == selectedSemester
                option(value=semester.value selected) #{semester.text}
              else
                option(value=semester.value) #{semester.text}
        .col-lg-2
          label(for="credits") Credits
          input.form-control(type="text" name="credits" value=searchCredits || null)
        .col-lg-1
          button.btn.btn-primary(type="submit") Search
    hr
    if searchResults
      if searchResults.length == 0
        h3.text-center.text-danger Course Not Found
      else 
        table.table.table-hover.position-relative
          thead
            tr
              th Course ID
              th Course Name
              th Credits
          tbody
            each course in searchResults
              tr
                td
                  a.table-row-link.text-dark(href='/course/detail/' + course.instanceID) #{course.courseID}
                td #{course.courseName}
                td #{course.credits}
    else
      h6.ml-4.text-secondary(style="user-select: none;") Start searching using the search bar!
